@tailwind base;
@tailwind components;
@tailwind utilities;

/* LeetCode enjoys using pre tags for example inputs, these can overflow. This prevents the overflow. */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
